.container {
  width: 100%;
}

.col-4 {
  width: 25%;
}

.authPagePadding, #left, #right {
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  color: #ffffff;
  height: 200vh;
}

#left {
  background: #E94448;
  color: #ffffff;
}

#right {
  background: #152540;
  color: #ffffff;
}

#book {
  color: #ffffff;
}

#button {
  -webkit-border-radius: 15px;
  background: #E94448;
}

#button1 {
  -webkit-border-radius: 15px 0px 0px 15px;
  background: #234476;
}

#button2 {
  -webkit-border-radius: 0px 15px 15px 0px;
  background: #234476;
}

#button1:hover {
  background-color: #E94448;
  color: #ffffff;
}

#button2:hover {
  background-color: #E94448;
  color: #ffffff;
}

#sidebar{
  background-color: #152540;
  color: #ffffff;
  height: 100vh;
  text-align: center
}

#mainHeader {
  -webkit-border-radius: 0px 20px 20px 0px;
  height: 15vh;
  background: #152540;
}